/*
==================== LOGIN ====================

*/
@media (min-width: 786px) {
    .admin-body {
        background: url('../background.jpg') no-repeat fixed center center

    }
}

.login-body {
    background: url(../../images/login-bg.jpg) no-repeat fixed center center;
}

.login-box {
    margin-top: 100px;
}

.panel-login {
    border-color: black;
    background-color: transparent;
}

.panel-login > .panel-heading {
    color: #fff;
    background-color: rgba(0, 0, 0, .60);
    border-color: black;
    font-weight: bold;
}

.panel-login > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: black;
}

.panel-login > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: black;
}

.panel-login > .panel-body {
    background-color: rgba(0, 0, 0, .30);
}

footer {
    margin-top: 20px;
}

a.list-group-item {
    color: #000;
}

a.list-group-item .list-group-item-heading {
    color: #333;
}

a.list-group-item:hover,
a.list-group-item:focus {
    color: #fff;
    text-decoration: none;
    background-color: #337ab7;
}

.list-group-item.disabled,
.list-group-item.disabled:hover,
.list-group-item.disabled:focus {
    color: #777;
    cursor: not-allowed;
    background-color: #eee;
}

.list-group-item.disabled .list-group-item-heading,
.list-group-item.disabled:hover .list-group-item-heading,
.list-group-item.disabled:focus .list-group-item-heading {
    color: inherit;
}

.list-group-item.disabled .list-group-item-text,
.list-group-item.disabled:hover .list-group-item-text,
.list-group-item.disabled:focus .list-group-item-text {
    color: #777;
}

.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
    z-index: 2;
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
}

.list-group-item.active .list-group-item-heading,
.list-group-item.active:hover .list-group-item-heading,
.list-group-item.active:focus .list-group-item-heading,
.list-group-item.active .list-group-item-heading > small,
.list-group-item.active:hover .list-group-item-heading > small,
.list-group-item.active:focus .list-group-item-heading > small,
.list-group-item.active .list-group-item-heading > .small,
.list-group-item.active:hover .list-group-item-heading > .small,
.list-group-item.active:focus .list-group-item-heading > .small {
    color: inherit;
}

.list-group-item.active .list-group-item-text,
.list-group-item.active:hover .list-group-item-text,
.list-group-item.active:focus .list-group-item-text {
    color: #c7ddef;
}
